/* This is the universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Element Selectors */
body {
    background-color: #d9dcd6;
}

/* moved a and p up to the body tag*/
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* header and its subsequent color changes and font declorations */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    /*! note to designer - This color does not pop enough. */
    color: #d9dcd6;
}

/* removed the div tag here and changed to nav consolidated code, nav font is unique*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

/* a hero banner style image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* consolidated benefits down to be a single class */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* consolidated the content blocks classes to a sub class of content, the main one, the img, and the h2 */
.content-blocks {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content-blocks img {
    max-height: 200px;
}

.content-blocks h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* footer with unique font family */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*unique font size*/
.footer h2 {
    font-size: 20px;
}
